QTreeView {
background-color: #242424;
color: #DBDBDB;
border: 0px solid #242424;
border-radius: 5px;
font-size: 19px;
}

QTreeView {
    outline: 0;
}

QTreeView::item {
height: 30px;
padding: 2px;
border: none;
border-radius: 5px;
}

QTreeView::item::hover {
background-color: #3B3B3B;
border-radius: 5px;
}

QTreeView::item:selected {
border: none;
border-radius: 5px;
}

QTreeView::item:selected {
border: none;
border-radius: 5px;
}